<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>멤버 리스트</title>
	</head>
	<body class="admin">
		<header th:insert="/header_nav.html"></header>
		<div class="container">
			<br>
			<h1 style="color:white;">멤버 목록</h1>
			<br>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">아이디</th>
			      <th scope="col">이름</th>
			      <th scope="col">전화번호</th>
			      <th scope="col">이메일</th>
			      <th scope="col">가입 시기</th>
			      <th scope="col">생년월일</th>
			      <th scope="col">Team</th>
			    </tr>
			  </thead>
			  <tbody>
			   	 <tr th:each="mem:${memList}" th:if="${mem.grade == 1}">
			   	 	<td><a th:href="@{/mem/modify(id=${mem.id})}" id="id">[[${mem.id}]]</a></td>
					<td th:text="${mem.name}"></td>
					<td th:text="${mem.phone}"></td>
					<td th:text="${mem.email}"></td>
					<td th:text="${mem.signupTime}"></td>
					<td th:text="${#dates.format(mem.birth,'yyyy-MM-dd')}"></td>
					<td th:text="${mem.myteam}"></td>
				</tr>
			  </tbody>
			</table>
			<div th:with="totalPages=${memList.totalPages}, 
							nowPage=${memList.number+1}, 
							hasNext=${memList.hasNext}, 
							hasPrev=${memList.hasPrevious},
							startPage=${((nowPage-3)<=0)?1:nowPage-3},
							endPage=${((nowPage+3)>=totalPages)?totalPages:nowPage+3	
							}
							">
				<nav th:insert="/pagination.html"></nav>					
			</div>
		</div>
	</body>
</html>