<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<style>
		label{
			color:white;
		}
	</style>
	<body class="admin">
		<header th:insert="header_nav.html"></header>
		<div th:each="modify:${member}" class="container">
			<br>
			<div id="content">
				<h1 style="color:white;">멤버 정보</h1>
				<br>
				<div id="id" hidden>[[${modify.id}]] </div>
				<form th:action="@{update}" method="post">
				   <div>
	                    <h5 class="join_title">
	                        <label for="id">아이디</label>
	                    </h5>
	                    <div>
		                    <span class="box int_id" >
		                        <input type="text" name="id" class="int"  th:value="${modify.id}" readonly>
		                    </span>
	                    </div>
	                </div>
	                <br>
					<p class="input-group" hidden>
					  <input name="pw" type="text" class="form-control" th:value="${modify.pw}" readonly>
					  <input name="grade" id="grade" type="number" class="form-control" th:value="${modify.grade}">
					</p>
	                <div>
	                    <h5 class="join_title">
	                        <label for="name">이름</label>
	                    </h5>
	                    <div>
		                    <span class="box int_id" >
		                        <input type="text" name="name" class="int"  th:value="${modify.name}">
		                    </span>
	                    </div>
	                </div>
	                <br>
	                <div>
	                    <h5 class="join_title">
	                        <label for="phone">연락처</label>
	                    </h5>
	                    <div>
		                    <span class="box int_id" >
		                        <input type="text" name="phone" class="int"  th:value="${modify.phone}">
		                    </span>
	                    </div>
	                </div>
	                <br>
	                <div>
	                    <h5 class="join_title">
	                        <label for="email">이메일</label>
	                    </h5>
	                    <div>
		                    <span class="box int_id" >
		                        <input type="text" name="email" class="int"  th:value="${modify.email}">
		                    </span>
	                    </div>
	                </div>
	                <br>
	                <div>
	                    <h5 class="join_title">
	                        <label for="birth">생년월일</label>
	                    </h5>
	                    <div>
		                    <span class="box int_id" >
		                        <input type="date"  name="birth" class="int" style="width:100%;" th:value="${#dates.format(modify.birth,'yyyy-MM-dd')}">
		                    </span>
	                    </div>
	                </div>
	                <br>
	                <div>
	                    <h5 class="join_title">
	                        <label for="birth">Myteam</label>
	                    </h5>
	                    <div>
		                    <span class="box int_id" >
		                        <select name="myteam" style="padding:3px;">
									<option th:selected="${modify.myteam}==1" value="1">맨체스터 시티</option>
									<option th:selected="${modify.myteam}==2" value="2">리버풀</option>
									<option th:selected="${modify.myteam}==3" value="3">첼시</option>
									<option th:selected="${modify.myteam}==4" value="4">토트넘</option>
									<option th:selected="${modify.myteam}==5" value="5">아스널</option>
									<option th:selected="${modify.myteam}==6" value="6">맨체스터 유나이티드</option>
									<option th:selected="${modify.myteam}==21" value="21">레알 마드리드</option>
									<option th:selected="${modify.myteam}==22" value="22">바르셀로나</option>
									<option th:selected="${modify.myteam}==41" value="41">바이에른 뮌헨</option>
									<option th:selected="${modify.myteam}==42" value="42">도르트문트</option>
									<option th:selected="${modify.myteam}==59" value="59">AC 밀란</option>
									<option th:selected="${modify.myteam}==60" value="60">인터 밀란</option>
									<option th:selected="${modify.myteam}==62" value="62">유벤투스</option>
									<option th:selected="${modify.myteam}==79" value="79">파리 생재르맹</option>				
								</select>
		                    </span>
	                    </div>
	                </div>
	                <br>
	                <div>
	                    <h5 class="join_title">
	                        <label for="signupTime">가입시기</label>
	                    </h5>
	                    <div>
		                    <span class="box int_id" >
		                        <input type="text"  name="signupTime" class="int" style="width:100%;" th:value="${modify.signupTime}" readonly>
		                    </span>
	                    </div>
                	</div>
                <br><br>
				<p class="d-grid gap-2 d-md-flex justify-content-md-end">
		  			<button class="btn btn-primary" id="memUpdate" type="submit">수정</button>
					<button class="btn btn-danger" type="button" th:onclick="delMem();">삭제</button>
		  		</p>
                </div>
			</form>
		</div>
		<script>
			var grade = document.querySelector('#grade');
			function delMem(){
				var confirmAlert = confirm('정말로 삭제하시겠습니까?');
				if(confirmAlert){
					grade.value=2;
					document.getElementById("memUpdate").click();
					alert("해당 멤버가 정상적으로 삭제되었습니다.");
				}
			}
			function memDelete(){					
				var id = document.querySelector('#id').innerHTML;
				console.log("id:"+id);
				var confirmAlert = confirm('정말로 삭제하시겠습니까?');				
		 		if(confirmAlert){
		 			$.ajax({
		 			    url : "/mem/memberDelete"
		 			   ,type:'POST'
		 			   ,traditional : true
		 		       ,data : {
		 		    	  id : id
		 		       }
		 		       ,success : function(jdata) {
		
		 		    	   if(jdata != "") {
		 		    		  alert("해당 멤버가 정상적으로 삭제되었습니다.");
		 	 				  location.href= "/mem/list/1";
		
		 		    	   }else {
		 		    		  alert("해당 멤버를 실패헀습니다.");
		 		    	   }
		 		       },
		 				error: function(jqXHR, textStatus, errorThrown) {
		 		    	  alert("ERROR : " + textStatus + " : " + errorThrown);
		 		       }
		 		   })
				}
			}	
		</script>
	</body>
</html>