<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>

	<style>
		label{
			color:white;
		}
	</style>
	<body class="admin">
	<header th:insert="header_nav.html"></header>
	<div th:each="modify:${team}" class="container">
	<br><br>
			<form th:action="@{update}" method="post" name="update">
	  				<p class="input-group"hidden>
				  <input name="teamNum" type="number" class="form-control" th:value="${modify.teamNum}" readonly>
				  <input name="logoImage" type="text" class="form-control" th:value="${modify.logoImage}" readonly>
				</p>
				<br>
				<div>
                    <h5 class="join_title">
                        <label for="id">팀 이름</label>
                    </h5>
                    <div>
	                    <span class="box int_id" >
	                        <input type="text" name="teamName" class="int"  th:value="${modify.teamName}" readonly>
	                    </span>
                    </div>
                </div>
                <br>
                <div>
                    <h5 class="join_title">
                        <label for="leagueNum">소속 리그</label>
                    </h5>
                    <div>
	                    <span class="box int_id" >
	                        <select name="leagueNum" style="padding:3px;">
								<option th:selected="${modify.leagueNum}==1" value="1">프리미어리그</option>
								<option th:selected="${modify.leagueNum}==2" value="2">라리가</option>
								<option th:selected="${modify.leagueNum}==3" value="3">분데스리가</option>
								<option th:selected="${modify.leagueNum}==4" value="4">세리에 A</option>
								<option th:selected="${modify.leagueNum}==5" value="5">리그 앙</option>				
							</select>
	                    </span>
                    </div>
                </div>
                <br>
				<p class="input-group">
				 <label class="input-group-text">경기 수</label>
				  <input name="matchCount" type="number" class="form-control" th:value="${modify.win}+${modify.tie}+${modify.defeat}" readonly>
				  <label class="input-group-text">승점</label>
				  <input name="victoryPoints" type="number" class="form-control" th:value="${modify.win}*3+${modify.tie}" readonly>
				</p>
				
				<label style="margin:5px;">수정 하세요.</label>
				<p class="input-group">	
				  <label class="input-group-text">승리</label>
				  <input name="win" type="number" class="form-control" th:value="${modify.win}">
				
				  <label class="input-group-text">무승부</label>
				  <input name="tie" type="number" class="form-control" th:value="${modify.tie}">		
				
				  <label class="input-group-text">패배</label>
				  <input name="defeat" type="number" class="form-control" th:value="${modify.defeat}">
				  
				  <label class="input-group-text">득실차</label>
				  <input name="diffscore" type="number" class="form-control" th:value="${modify.diffscore}">
				</p>
				  <span style="color:white;">*경기 수, 승점은 자동 변동됩니다.</span>
				<p class="d-grid gap-2 d-md-flex justify-content-md-end">
		  			<button class="btn btn-primary" type="submit">수정</button>
		  		</p>
		</form>
	</div>
	</body>

</html>